@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroy-300.woff2") format("woff2"),
    url("../fonts/gilroy-300.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gilroy"),
    local("Gilroy-Regular"),
    url("../fonts/gilroy-400.woff2") format("woff2"),
    url("../fonts/gilroy-400.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url("../fonts/gilroy-700.woff2") format("woff2"),
    url("../fonts/gilroy-700.woff") format("woff");
}
