// Colors

$accent: #0062ff;
$accent-link: #0035ff;

$text-basic-light3: #777777;
$text-basic-light2: #656565;
$text-basic-light1: #272522;
$text-basic: #202326;
$text-basic-dark1: #1a1a1a;
$text-basic-dark2: #000000;
$text-basic-input: #222222;
$text-invert: #ffffff;

$borderline-light: #dcdcdc;
$borderline-dark: #dbdbdb;
$border-input: #e6e6e6;

$background-basic: #ffffff;
$background-neutral: #ededed;

$outline: #7f7f7f;

$shadow-select: 0 2px 15px rgba(154, 154, 154, 0.5);

$slider-dot: #cccccc;

// Star rating

$star-width: 35px;

// Media

$min-width: 320px;
$desktop-width: 768px;
