// Colors

$accent: hsl(339, 100%, 71%);
$accent-minor: hsl(200, 67%, 73%);

$text-basic: hsl(0, 0%, 16%);

$background-basic: hsl(0, 0%, 100%);

$shadow: hsl(199, 36%, 91%);
$shadow-dark: hsl(199, 36%, 30%);

$underlay: hsla(0, 0%, 0, 0.7);

// Star rating

$star-width: 35px;

// Media

$min-width: 320px;
$desktop-width: 768px;
